nextflow.enable.dsl = 2

params {
    samples = 'config/chipseq_samples.tsv'
    outdir = 'results/chipseq_pipeline'

    reference_fasta = '/path/to/reference/genome.fa'
    // Set to BWA index basename when available, e.g. '/path/to/hg19' (expects .amb/.ann/.bwt/.pac/.sa)
    bwa_index_prefix = ''

    min_mapq = 30
    exclude_flags = 3332

    make_bigwig = true
    make_bamcompare = true
    effective_genome_size = 2913022398
    bigwig_binsize = 25
    bigwig_normalization = 'None'
    blacklist_bed = ''

    bamcompare_binsize = 200
    bamcompare_smooth_length = 600

    fastp_extra = ''
}

process {
    executor = 'local'
    conda = 'envs/qc_mapping_cnv.yaml'

    withName: FASTQC_RAW {
        cpus = 8
    }
    withName: FASTP_TRIM {
        cpus = 10
    }
    withName: FASTQC_TRIMMED {
        cpus = 8
    }
    withName: BWA_MEM_FILTER {
        cpus = 15
    }
    withName: BAM_COVERAGE {
        cpus = 20
    }
    withName: BAM_COMPARE {
        cpus = 20
    }
    withName: BAM_COMPARE {
        cpus = 8
    }
    withName: BAM_COMPARE {
        cpus = 8
    }
}

profiles {
    conda {
        conda.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'general_long'
        process.time = '48h'
        process.memory = '64 GB'
        conda.enabled = true
    }
}
