nextflow.enable.dsl = 2

params {
    samples = 'config/samples.tsv'
    outdir = 'results/automated_pipeline'

    reference_fasta = '/path/to/reference/genome.fa'
    bwa_index_prefix = ''
    targets_bed = '/path/to/cnv_targets.bed'
    antitargets_bed = '/path/to/cnv_antitargets.bed'

    cnv_method = 'cnvkit'  // cnvkit, gatk, or both
    min_mapq = 20
    exclude_flags = 3844
    read_group_platform = 'ILLUMINA'

    cnvkit_drop_low_coverage = true
    cnvkit_call_method = 'clonal'
    cnvkit_extra_batch_args = ''

    gatk_interval_merging_rule = 'OVERLAPPING_ONLY'
    gatk_changepoint_penalty = 2.0
}

process {
    executor = 'local'
    conda = 'envs/qc_mapping_cnv.yaml'

    withName: FASTQC_RAW {
        cpus = 2
    }
    withName: FASTP_TRIM {
        cpus = 8
    }
    withName: FASTQC_TRIMMED {
        cpus = 2
    }
    withName: BWA_MEM_SORT {
        cpus = 8
    }
    withName: ADD_READ_GROUPS {
        cpus = 4
    }
    withName: MARK_DUPLICATES {
        cpus = 4
    }
    withName: FILTER_MARKED_BAM {
        cpus = 8
    }
    withName: CNVKIT_REFERENCE {
        cpus = 8
    }
    withName: CNVKIT_BATCH {
        cpus = 8
    }
    withName: GATK_COLLECT_COUNTS {
        cpus = 4
    }
}

profiles {
    conda {
        conda.enabled = true
    }

    slurm {
        process.executor = 'slurm'
        process.queue = 'general_long'
        process.time = '72h'
        process.memory = '32 GB'
        conda.enabled = true
    }
}
